.icon {
    width: 14vw;
    position:absolute;
    /* position:fixed; */
    /* position: relative; */
    min-width: 76px;
    /* opacity: 0.5; */
} 


.iconGrey {
    width: 10vw;
    position:absolute;
    min-width: 64px;
    /* opacity: 0.5; */
}
.icon:hover{
    width: 20vw;
    z-index: 20;
}
#fashion_icon {
    /* position:absolute; */
    /* position:relative; */
    /* left: 7vw;
    top:20vh; */
    animation-name:fashionAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
    animation-timing-function:linear;
    /* --position: v(random(10), random(10)); */
}

@keyframes fashionAnim {
    0%   {left:7vw; top:20vh;}
    25%   {left:8vw; top:21vh;}
    50%   {left:7vw; top:20vh;}
    75%   {left:8vw; top:18vh;}
    100%   {left:7vw; top:20vh;}
  }

.icon_lines{
    width: 100vw;
    height:120vh;
    z-index: -1;
    /* position:relative; */
    /* position: fixed; */
    position:absolute;
    border-style: dotted; border-color: antiquewhite;
}

.logo {
    /* font-size: 72px; */
    font-size: 3.5vw;
    font-family: "Titillium Web Light";
    color: rgb(111, 111, 110);
    line-height: 0.375;
    line-height: 6.4vh;
    position: absolute;
    left: 7vw;
    top: 1.5vh;
}

#iridescentCircle {
    width: 55.42vw;
    max-width: 98.52vh;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -10;
}

/* width: 100%;
  max-width: 400px;
  height: auto; */

.menuContainer {
    float:right;
    /* background-color: #13b2e2; */
    border-style: dotted; border-color: antiquewhite;
    margin-top: 9vh;
}

.menuOptions {
    /* background-color: #4CAF50; */
    border: none;
    background-color: white;
    font-family: "Titillium Web";
    color: rgb(134, 134, 134);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 1.3vw;
    margin-left: 2vw;
    cursor: pointer;
}

.menuSelection {
    /* background-color: #4CAF50; */
    border: none;
    background-color: white;
    font-family: "Titillium Web";
    color: rgb(227, 178, 200);
    font-weight: bold;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    margin-left: 2vw;
    cursor: pointer;
}



/* font-family: 'Titillium Web Light';font-size: 22px;
font-family: 'Titillium Web Regular';font-size: 22px
font-family: 'Titillium Web ExtraLight';font-size: 22px;
font-family: 'Titillium Web SemiBold';font-size: 22px;
manque bold!!!
font-family: 'Titillium Web Black';font-size: 22px; */