#iridescentCircle {
    /* width: 55.42vw;
    max-width: 98.52vh; */
    /* width: 55.42vw; */
    height: 98.52vh;
    max-height: 100vw;

    margin: 0;
    position: absolute;
    /* position: sticky; */
    /* position: fixed; */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -10;
}

#mainDiv{
    /* border-style: dotted; */
    /* border-color: rgb(196, 35, 142); */
    position:relative;
    width:95vw;
    /* display:block;
    overflow: auto; */
    height:95vh;
    left:50vw;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#iconsDiv{
    height:80%;
    /* height: auto;
    display:block;
    overflow: auto; */
    /* width: 90vw; */
    width: 100%;
    /* border-style: dotted; */
    /* border-color: rgb(32, 131, 83); */
    margin: 0;
    position: absolute;
    top: 20%;
    /* left:50vw;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); */
}

.icon {
    /* width: 14vw; */
    width:13%;
    position:absolute;
    /* position:fixed; */
    /* position: relative; */
    min-width: 96px;
    /* opacity: 0.5; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.iconGrey {
    width: 9%;
    position:absolute;
    min-width: 64px;
    /* opacity: 0.5; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon:hover{
    width: 17%;
    z-index: 20;
}

#fashion_icon {
    /* position:absolute; */
    /* position:relative; */
    left: 11%;
    top:15%;
    animation-name:fashionAnim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
    animation-timing-function:linear;
    /* --position: v(random(10), random(10)); */
}

@keyframes fashionAnim {
    0%   {left:11%; top:15%;}
    25%   {left:15%; top:18%;}
    50%   {left:11%; top:15%;}
    75%   {left:12%; top:10%;}
    100%   {left:11%; top:15%;}
  }

.icon_lines{
    width: 100%;
    /* height:95vh; */
    height:100%;
    z-index: -1;
    /* border-style: dotted;
    border-color: antiquewhite; */
}

.logo {
    /* font-size: 72px; */
    /* font-size: 3.5vw; */
    font-size: max(3.5vw, 18px);
    font-family: "Titillium Web Light";
    color: rgb(111, 111, 110);
    line-height: 0.375;
    line-height: 6.4vh;
    position: absolute;
    left: 7vw;
    top: 1.5vh;
}

/* width: 100%;
  max-width: 400px;
  height: auto; */

.menuContainer {
    float:right;
    /* background-color: #13b2e2; */
    /* border-style: dotted; border-color: antiquewhite; */
    margin-top: 9vh;
}

.menuOptions {
    /* background-color: #4CAF50; */
    border: none;
    background-color: white;
    font-family: "Titillium Web";
    color: rgb(134, 134, 134);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 1.3vw; */
    font-size: max(1.3vw, 14px);
    margin-left: 2vw;
    cursor: pointer;
}

.menuSelection {
    /* background-color: #4CAF50; */
    border: none;
    background-color: white;
    font-family: "Titillium Web";
    color: rgb(227, 178, 200);
    font-weight: bold;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 1.3vw; */
    font-size: max(1.3vw, 14px);
    margin-left: 2vw;
    cursor: pointer;
}



/* font-family: 'Titillium Web Light';font-size: 22px;
font-family: 'Titillium Web Regular';font-size: 22px
font-family: 'Titillium Web ExtraLight';font-size: 22px;
font-family: 'Titillium Web SemiBold';font-size: 22px;
manque bold!!!
font-family: 'Titillium Web Black';font-size: 22px; */
